.contModu.list-mode .box{
    width: 100%;
}
.box{
	height:10rem;
	margin:.5rem;
	background-color:#CCCCCC;
	-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;
}
.container{
	display: grid;
	grid-template-columns: 50% 50%;
    flex-wrap: wrap;
}