.cont-exceltable{
    display: block;
    overflow: auto;
    width: 100%;
    max-height: 12rem;
}
.excel-tabla{
    border-collapse: collapse;
    width: 100%;
}
.group-tbe-head{
    font-family:'Roboto', Arial, Tahoma, sans-serif;
    color: #555 !important;
    text-align: center;
   
}
.tbe-heah > .group-tbe-head > .tbe-heah-ele{
    border-bottom: 2px solid #ddd;
    padding: .5rem .5rem .1rem;
    font-size: .9rem;
    line-height: 1.4285em;
}
.tbe-body > .group-tbe-body > .tbe-body-ele{
    border-bottom: 1px solid #ddd;
    font-size: .9rem;
    line-height: 1.4285em;
}
.table-avancevendedor > tbody > tr:nth-of-type(2n+1){
    background-color: #f9f9f9;
}
/* 320px Celular VGA*/
@media only screen and (max-width: 20rem)
{

}
/* Celulares VGA y HD 320px, 640px */
@media only screen and (min-width: 20rem) and (max-width: 40rem)
{
   
}
/* CELULARES HD* 641px, 1024 */
@media only screen and (min-width: 40.0625rem) and (max-width: 64rem)
{
    
}
/*  1025px y 1024px CELULARES FULL HD*/
@media only screen and (min-width: 64.0625) 
{
    
}